body {
    font-family: $defaultFont;
    color: getColor('defaultFontColor');
    width: $bodywidth;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

.section {
    padding: 60px 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .container {
        max-width: $max-width-container-tablet;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: $max-width-container-desktop;
    }
    
    .section {
        padding: 94px 15px;
    }
}

@media screen and (max-width: 767px) {

    .container-footer {
        max-width: 480px;
    }
}
 
.section-title {
    @include font-size(700, 36px, 1.16, 0.03em);
    text-align: center;
    margin: 0 0 30px;
}

@media screen and (max-width: 1199px) {

    .section-title {
        font-size: 28px;
        letter-spacing: 1.78;
    }
}

img { 
    display: block;
    max-width: 100%;
    height: auto;
}