@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .page-header {
        padding: 21px 15px;
    }

    .nav {
        gap: 60px;

        &:first-child {
            margin-left: 83px;
        }
    }

    .contact {
        flex-direction: column;
        gap: 10px;

        &__icon {

            &--email {
                @include size-wh(14px, 10px);
            }

            &--tel {
                @include size-wh(10px, 14px);
            }
        }

        &__link {
            @include font-size(500, 12px, 1.16, 0.02em);
        }
    }
}