.product {

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @include reset-list;
    }

    &__item {
        border-left:1px solid getColor(product-figcaption-border);
        border-bottom:1px solid getColor(product-figcaption-border);
        border-right:1px solid getColor(product-figcaption-border);
        
        &:hover {
            box-shadow: $portfolioproductshadow;
            transition: box-shadow $timetransition;        
        }
    }

    &__link {
        text-decoration: none;

        &:hover .description-box,
        &:focus .description-box {
            transform: translatey(0);
        }
    }

    &__figure {
        margin: 0;
    }

    &__figcaption {
        padding: 20px 23px 19px;
    }

    &__title {
        @include font-size(700, 18px, 2, 0.06em);
        color: getColor(defaultFontColor);
        margin: 0 0 4px;
    }

    &__text {
        @include font-size(400, 16px, 1.875, 0.03em);
        color: getColor(text-grey);
        margin: 0;
    }

    &__image {
        position: relative;
        overflow: hidden;
    }
}

@media screen  and (min-width: 768px) and (max-width: 1199px) {
    
    .product {

        &__item{
            max-width: 354px;
            height: auto;
        }
    }
}

.description-box {
    position: absolute;
    top: 0;
    left: 0;
    @include size-wh(100%, 100%);
    padding: 49px 24px;
    background-color: getColor(bg-description-box);
    transform: translateY(101%);
    transition: transform $timetransition;

    &__text {
        @include font-size(400, 18px, 1.555, 0.03em);
        color: getColor(text-white);
        margin: 0;
    }
}
