@media screen and (max-width: 1199px) {
    .our-job {
        display: none;
    }
}

.our-job {
    padding-top: 94px;

    &__list {
        @include reset-list;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__text {
        position: absolute;
        bottom:0;
        right: 0;
        left:0;
        @include font-size(700, 14px, 0.875, 0.03em);
        text-align: center;
        text-transform: uppercase;
        color: getColor(text-white);
        background-color: getColor(our-job-bg-text);
        margin:0;
        padding: 28px 0;
    }
}
